* {
  margin: 0;
  padding: 0;
}

html,
body,
#app,
.wrapper {
  width: 100%;
  height: 100%;
  color: #fcfcfc;
  background: linear-gradient(to bottom,#000000,#250C34);
  font-size: 14px;
}

body {
  font-family: 'Microsoft Yahei', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none
}